<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title> AniClaim </title>
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
</head>

<body>
	<a href="/"><h1> AniClaim </h1></a>

    <h2>About Us</h2>
    <p>This is AniClaim, a website where you can collect your favorite characters!<br>
    We are using Jikan which is an unofficial MyAnimeList API.<br>
    Users can roll for characters, sell them for currency, see the list of all characters or just the ones they have, and see where they are on the leaderboards.</p>

    <p>Looking into how it works, there is a specific chance to get different tier characters with a set value. <br>
    S: 1%<br>A: 2.3%<br>B: 4.8%<br>C: 16.4%<br>D: 75.5%<br>
    If you choose to sell a character, the value of it gets added to your wallet.<br>
    You can see how much money you have compared to others on the leaderboard!</p>
    <hr>

</body>

</html>