<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title> AniClaim </title>
	<style>
        .card-collection {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        .card {
            margin: 10px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            text-align: center;
			transition: transform 0.2s;
        }
		.card:hover {
            transform: scale(1.05); 
        }
        .card img {
            width: 100px;
            height: auto; 
        }
    </style>
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
</head>

<body>
	<a href="/"><h1> AniClaim </h1></a>

    <h2> Account Information </h2>
	<h3> Username: </h3> <%- user.username %> <br>
	<h3> Email: </h3> <%- user.email %> <br>
    <h3> Wallet: </h3> $<%- user.wallet %> <br>

    <h3> Characters: </h3>

	<div class="card-collection">
		<%- characters %> <br>
	</div>

    <hr>

</body>

</html>